{{!-- <h1>Soy el about</h1> --}}
<div class="card">
    <div class="card-body">
        <h1>About...</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellat sed culpa aut ut sunt saepe, voluptatem maiores voluptas eaque sapiente, earum cupiditate quo ratione quia error iste beatae, deserunt porro provident ipsum libero tenetur! Expedita laborum vel libero molestias?</p>
    </div>
</div>