{{!-- <h1>Soy el índice</h1> --}}
<div class="jumbotron">
    <h1 class="display-4">Aplicación de Notas con Node.js & MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, autem?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, repellat rem porro libero explicabo incidunt minus aliquid, quod ab reiciendis, minima sunt vel fuga. Pariatur dolore velit ducimus aspernatur assumenda?</p>
    <a href="http://ensayosypoemas.wordpress.com" class="btn btn-primary">Ensayos & Poemas</a>
</div>